body{
    margin:0px;
    font-family:'Verdana',serif;    
}
nav{
    background-color:orangered;    
    color:black;
    padding:15px;
}
h2{
    margin:0px;
    color:black
}
section{
    margin-top:50px;
}
article{
    margin:10px;
    font-size:20px;
}
input,button{
    font-size:20px;
}