body{
    background-image: url('images/background1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin:0px;
    font-family:'comic sans ms', sans-serif;
    color:white;
}
h1{
    font-family: "Old English Text MT",serif;
    text-align:center;
    color:white;
    text-shadow:0 0 10px red;
}
fieldset{
    background-color:rgba(0,0,0,0.6);
    font-size:18px;
    margin:20px;
    border:2px solid white;
    border-radius:0px 30px 0px 30px;
    margin-top:50px;
}
fieldset table{
    width:100%;
}
fieldset table tr{
    height:35px
}
legend,.button{
    background-image:url('images/background2.jpg');
    padding:10px 35px;
    font-size:20px;
    font-family: "Old English Text MT",serif;
    border-radius:30px 0px 30px 0px
}
.button{
    color:white;
    width:200px;
    background:linear-gradient(45deg,black,darkred);
    margin-right:120px;
}
legend,fieldset,.button{
    box-shadow:0 0 10px white
}
input, textarea,select{
    font-size:18px;
}
input:focus,textarea:focus{
    background-color:aquamarine;
    box-shadow:0 0 10px white;
    border-radius:5px;
}