html{
    scroll-behavior: smooth;
}
body{
    margin:10px 0px;
    font-family:'comic sans ms', sans-serif;
    text-align:center;
    background:linear-gradient(45deg,lightsalmon,lightgreen);    
}
h1{
    font-family:'Castellar',sans-serif;
    font-size:42px;
    font-weight:bolder;
    text-shadow:0 0 10px black;
}
table{
    width:100%;
}
h2{
    background:linear-gradient(45deg,black,darkred,black);
    width:60%;
    color:white;
    margin:auto;
    padding:15px;
    border-radius:60% 60% 0% 0%;
    border-bottom:5px solid white;  
    font-family:'Arial',serif; 
}
img{
    width:270px;
    height:160px;
    border-radius:20px;
    box-shadow:0 0 10px black;
}
img.main{
    width:500px;
    height:270px;
}